body{
	margin:0;
}
#Main{
	height:auto;
	width:100%;
	background:#C71585;
}

#Main a{
	font-size:30px;
	letter-spacing:1.5px;
	padding:5 30px;
	color:White;
}
#Main a:hover{
	background:#0000CD;
	border-bottom:1px solid red;
}
#Service{
	display:inline-block;
}
#Service a{
	display:block;
}
#ServiceOpt{
	position:absolute; 
	height:0;
	overflow:hidden;
	background:#C71585;
}
#Service:hover #ServiceOpt{
	height:auto;
}